.default {
    background-image: none !important;
    background-color: #f2f6fa;
}

#page div#learningcontent {
    position: relative;
    margin-top: 0;
    background-color: #e5ebf0 !important;
    padding: 2rem !important;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-title {
    font-weight: 500;
}

.card-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #d7dadd !important;
    margin-top: 10px;
}


.card-body a, .navbar a:not(.dropdown-item):not(.btn-secondary), a.nav-link {
    color: #2e6592;
}

.card-body, .userprofile .profile_tree section {
    border-color: transparent !important;
}

.card, #page-enrol-users #filterform, .que .history, .userprofile .profile_tree section, .groupinfobox, .well {
    background-color: #fff !important;
    border-color: rgba(0, 0, 0, .225) !important;
}

.navbar {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .4) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8) !important;
}

nav.bg-white {
    background-color: #005cb2 !important;
}

.navbar .nav-link:not(.btn-secondary), .navbar .navbar-brand, .navbar .dropdown-toggle, .navbar > .fa-comment, .navbar .fa-bell {
    color: rgba(255, 255, 255, 0.8) !important;
}

.navbar .nav-link:hover:not(.btn-secondary), .navbar .navbar-brand:hover, .navbar .dropdown-toggle:hover, .navbar > .fa-comment:hover, .navbar .fa-bell:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar .nav-item {
    line-height: 1;
}

nav.navbar .logo img {
    max-height: 40px !important;
    opacity: 0.8;
    border-radius: 6px;
}

nav.navbar .logo img:hover {
    opacity: 1;
    transition: all ease 0.5s;
}

/*---------------------------------------------------------------------
fbstart
-----------------------------------------------------------------------
.customimage {
	background-image: none !important;
	background-color: #f6f7f9;
}

#page div#learningcontent {
    position: relative;
    margin-top: 0;
    background-color: #e9ebee !important;
    padding: 2rem!important;
}

.card-title {
    font-weight: 500;
}

.card-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #dddfe2 !important;
    margin-top: 10px;
}


.card-body a, .navbar a:not(.dropdown-item), a.nav-link {
	color: #365899;
}


.card-body, .userprofile .profile_tree section {
    border: 1px solid #dddfe2 !important;
}

.card, #page-enrol-users #filterform, .que .history, .userprofile .profile_tree section, .groupinfobox, .well {
    background-color: #fff !important;
    border: 1px solid #dddfe2 !important;
}

.navbar {
    box-shadow: 0 2px 4px 0px rgba(0,0,0,.2) !important;
    border-bottom: 1px solid rgba(0,0,0,0.3) !important;
}
 
nav.bg-white {
    background-color: #4267b2 !important;
}

.navbar a:not(.dropdown-item), .navbar .fa-comment, .navbar .fa-bell {
	color: rgba(255,255,255,0.8) !important;
}

.navbar a:hover:not(.dropdown-item), .navbar .fa-comment:hover, .navbar .fa-bell:hover {
	color: rgba(255,255,255,1) !important;
}

.navbar .nav-item {
    line-height: 1;
}

nav.navbar .logo img {
	max-height: 40px;
	opacity: 0.5;
	border-radius: 6px;
}
-----------------------------------------------------------------------------*/