:root {
    --a_color: #c3f083;
    --a_hover_color: #86c232;
    --a_navlink: #90b955;
    --a_navlink_hover: #759745;
    --navbar_bottom: #557e22;
    --navbar_bg: #385c0c;
    --dark_bg: rgb(0, 51, 0);
    --calendar_today: rgba(85, 139, 18, 0.1);
    --shadow_1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    --shadow_2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    --shadow_4: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}