@import "moodle_dark_root.css";

[tplus=dm] body {
    color: #eee !important;
    background-size: 400px 400px;
    background-color: var(--dark_bg) !important;
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)) !important;
    /*background-color: #070707 !important;*/
}

[tplus=dm] .headerbkg > .customimage {
    background-image: none !important;
}

[tplus=dm] #page-footer {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-top: 1px solid #262626 !important;
    border-image: linear-gradient(to right, transparent 5%, var(--navbar_bg), transparent 95%) 1;
    /*box-shadow: 0 -5px 4px -4px rgba(255,255,255,0.5);*/
}

[tplus=dm] #page div#learningcontent {
    position: relative;
    margin-top: 0;
    /*background-color: rgba(5, 5, 5, 0.95) !important;*/
    padding: 2rem !important;
    background-color: #070707 !important;
}

[tplus=dm] h5.card-title {
    display: block !important;
    margin: -1.25rem -1.25rem .75rem;
    padding: 1rem;
    /*background-color: rgba(0, 0, 0, 0.15);*/
    border-bottom: 1px solid;
    text-align: center;
    border-image: linear-gradient(to left, transparent 5%, #6B6E70, transparent 95%) 1;
}

[tplus=dm] .card-body, [tplus=dm] .userprofile .profile_tree section {
    border: 0 inherit !important;
    border-radius: 4px;
}

[tplus=dm] section#region-main, [tplus=dm] .card, [tplus=dm] #page-enrol-users #filterform, [tplus=dm] .que .history, [tplus=dm] .userprofile .profile_tree section, [tplus=dm] .groupinfobox, [tplus=dm] .well {
    background-color: rgba(255, 255, 255, 0.05) !important;
    /*background-color: rgba(255,255,255,0.05) !important;*/
    /*border-color: rgba(255, 255, 255, 0.15) !important;*/
    border-radius: 4px !important;
    box-shadow: var(--shadow_2);
}

[tplus=dm] section#region-main {
    border: 0 !important;
}

/*.card-body a, .navbar a:not(.dropdown-item), a.nav-link, .m-t-2.m-b-1 a {*/
[tplus=dm] .card-body a, [tplus=dm] section#region-main a, [tplus=dm] .activity-navigation a {
    color: var(--a_color);
}

/*.card-body a:hover, .navbar a:hover:not(.dropdown-item), .m-t-2.m-b-1 a:hover {*/
[tplus=dm] .card-body a:hover, [tplus=dm] section#region-main a:hover, [tplus=dm] .activity-navigation a:hover {
    color: var(--a_hover_color);
}

[tplus=dm] .nav-link, [tplus=dm] .navbar a:not(.dropdown-item), [tplus=dm] a.nav-link, [tplus=dm] .navbar a .usertext {
    /*color: var(--a_navlink) !important;*/
    color: #fff !important;
}

[tplus=dm] .nav-link:hover, [tplus=dm] .navbar a:hover:not(.dropdown-item), [tplus=dm] a.nav-link:hover, [tplus=dm] .navbar a:hover .usertext {
    color: var(--a_navlink_hover) !important;
}

[tplus=dm] a.navbar-brand {
    font-weight: 600;
}

/*a.navbar-brand::after {
    content: "";
    width: 1px;
    border-left: 1px solid rgba(255,255,255,.1);
    margin-right: 20px;
}*/

[tplus=dm] .coursecontrols .editcogbutton:first-child {
    border-left: 1px solid rgba(255, 255, 255, .1);
    margin-left: 20px;
}

[tplus=dm] nav.navbar {
    border-bottom: 0 solid var(--navbar_bottom);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5) !important;
    background-color: var(--navbar_bg) !important;
}

/*[tplus=dm] nav.navbar .logo img {
	opacity: 0.5;
	border-radius: 6px;
	display: none;
}*/

[tplus=dm] .navbar .nav-item {
    line-height: 1 !important;
}


[tplus=dm] .course-content ul.section {
    background-color: #181818 !important;
    border-radius: 0 0 4px 4px;
}

/*[tplus=dm] .course-content ul.topics li.section:not(.hidden) .content:after, [tplus=dm] .course-content ul.topics li.section:not(.hidden) .sectionname.accesshide + .section_availability:before {
    content: '';
    display: block;
    height: 8px;
    background-color: var(--navbar_bg);
    margin: 4px 4px -4px 4px;
    border-radius: 3px;
    border: 1px solid #000;
}

[tplus=dm] .course-content ul.topics li.section:not(.hidden) .content:after {
	filter: saturate(.75);
}*/

[tplus=dm] .course-content ul.topics li.section .content, [tplus=dm] .course-content ul.weeks li.section .content {
    /*background-color: #222629 !important;*/
    /*border: 1px solid #6B6E70 !important;*/
    background-color: #181818 !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
    border-color: #000 !important;
    border-radius: 4px;
    padding-bottom: 8px !important;
    box-shadow: var(--shadow_1);
}

[tplus=dm] .course-content ul li.section.hidden .content {
    background-color: #777 !important;
}

/*[tplus=dm] h3.sectionname {
    background-color: var(--navbar_bg) !important;
	border-bottom: 1px solid #000;
    border-radius: 4px 4px 0 0;
	box-shadow: var(--shadow_2);
}

[tplus=dm] h3.sectionname a:not(.maor_download_light) {
	color: #fff !important;
}

[tplus=dm] li.section.hidden h3.sectionname {
	background-color: #444 !important;
	filter: grayscale(100%);
}*/

[tplus=dm] .section li.activity:not(.modtype_label):hover {
    background-color: var(--calendar_today) !important;
}

[tplus=dm] .section li.activity {
    border-color: rgba(143, 74, 74, 0.1) !important;
    /*border: 0 !important;*/
}

[tplus=dm] .section li.activity:not(.modtype_label):nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

[tplus=dm] .section .activity .contentwithoutlink, [tplus=dm] .section .activity .activityinstance {
    padding: 4px;
    min-height: 1rem !important;
}

[tplus=dm] .summary span {
    color: #ccc !important;
}

[tplus=dm] .calendar_event_course, [tplus=dm] .calendar_event_user {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

[tplus=dm] .minicalendar .today {
    background-color: var(--calendar_today);
    font-weight: 600;
}

[tplus=dm] .minicalendar .calendar-controls {
    padding: 2px 12px;
    background-color: var(--navbar_bg);
    border-radius: 1rem;
    margin-bottom: 2px;
}

[tplus=dm] h3.popover-header {
    color: #0c0c0c;
}

[tplus=dm] .popover-region-container, [tplus=dm] .popover-region-footer-container {
    background-color: #0c0c0c !important;
}

[tplus=dm] .popover-region-container * {
    border-color: #555555 !important;
}

[tplus=dm] .popover-region-toggle::after {
    border-bottom-color: #0c0c0c !important;
}

[tplus=dm] #page-mod-quiz-view table.quizattemptsummary tr.bestrow td {
    border-color: #000 !important;
    background-color: #111 !important;
}

[tplus=dm] .activity-navigation {
    background-color: var(--dark_bg) !important;
    border: 0 !important;
}

[tplus=dm] .table th, [tplus=dm] table.collection th, [tplus=dm] table.flexible th, [tplus=dm] .generaltable th, [tplus=dm] .table td, [tplus=dm] table.collection td, [tplus=dm] table.flexible td, [tplus=dm] .generaltable td {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

[tplus=dm] table.quizreviewsummary td.cell {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

[tplus=dm] table.quizreviewsummary th.cell {
    background-color: rgba(0, 0, 0, 0.55) !important;
}

[tplus=dm] .alert-info, [tplus=dm] #page-admin-index .releasenoteslink, [tplus=dm] #adminsettings .form-overridden, [tplus=dm] .que .formulation, [tplus=dm] .que .info {
    color: #ccc !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-color: #000 !important;
}

[tplus=dm] .form-control:disabled, [tplus=dm] .form-control[readonly] {
    background-color: #353535 !important;
    color: #ccc;
}

[tplus=dm] .answer input[type='radio']:checked + label {
    color: #fff !important;
    font-weight: 700;
}

[tplus=dm] .forumpost {
    border-color: #555555 !important;
}

[tplus=dm] .path-mod-quiz #mod_quiz_navblock .qnbutton {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

[tplus=dm] .calendar_filters span .icon {
    color: #0c0c0c !important;
}

[tplus=dm] .navbar .btn-secondary {
    background-color: var(--dark_bg) !important;
    border-color: transparent !important;
    opacity: 0.8;
    padding: .4rem .8rem !important;
}

[tplus=dm] .navbar .btn-secondary:hover {
    opacity: 1;
}

[tplus=dm] div.qtext img[width],
[tplus=dm] #equationview, [tplus=dm] .mathExpression, [tplus=dm] .MathJax_Preview img, [tplus=dm] img.CToWUd {
    background-color: #e6e6e6 !important;
    border: 2px solid #e6e6e6 !important;
}

[tplus=dm] .mathExpression *, [tplus=dm] .mathExpression {
    color: #0c0c0c !important;
}

/* side course list*/
[tplus=dm] nav .list-group-item:not(.active) {
    background-color: #e6e6e6 !important;
    color: #0c0c0c;
}

[tplus=dm] nav .list-group-item:hover:not(.active) {
    background-color: #ddd !important;
    color: #000 !important;
}

[tplus=dm] nav .list-group-item.active {
    background-color: var(--navbar_bg) !important;
    border-color: var(--navbar_bg) !important;
}

[tplus=dm] nav .list-group-item.event-list-item a {
    color: #0c0c0c !important;
}

/* other lists */
[tplus=dm] .list-group-item {
    background-color: rgba(0, 0, 0, .3);
}


[tplus=dm] #nav-drawer {
    background-color: var(--dark_bg) !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    box-shadow: var(--shadow_4);
}

[tplus=dm] .nav-tabs .nav-link.active {
    background-color: var(--navbar_bg) !important;
    border-color: var(--navbar_bottom) !important;
}

[tplus=dm] .nav-tabs, [tplus=dm] .nav-tabs .nav-link:hover {
    border-color: var(--navbar_bottom) !important;
}

[tplus=dm] a.left.carousel-control .fa-chevron-left, [tplus=dm] a.right.carousel-control .fa-chevron-right {
    transform: rotate(180deg);
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 21px !important;
    width: 31px;
    margin: 2px 0;
    text-align: center;
}

[tplus=dm] a.left.carousel-control .fa-chevron-left:hover, [tplus=dm] a.right.carousel-control .fa-chevron-right:hover {
    color: var(--a_color) !important;
    background-color: rgba(0, 0, 0, 0.8);
}

[tplus=dm] .carousel-item div {
    border-radius: 4px;
}

[tplus=dm] .btn.btn-primary, [tplus=dm] .btn.btn-primary:link, [tplus=dm] .btn.btn-primary:visited, [tplus=dm] a#blocksliderbutton:visited, [tplus=dm] a#blocksliderbutton:link {
    background-color: var(--navbar_bg) !important;
    border-color: var(--navbar_bg) !important;
}

[tplus=dm] .btn.btn-primary:hover, [tplus=dm] .btn.btn-primary:focus, [tplus=dm] a#blocksliderbutton:hover, [tplus=dm] a#blocksliderbutton:focus {
    background-color: var(--dark_bg) !important;
    border-color: #000 !important;
}

[tplus=dm] #page-header .card {
    /*border-width: 2px;*/
    box-shadow: var(--shadow_4);
}

[tplus=dm] #page-header .card-body {
    border: 0;
}

[tplus=dm] #page-header a:not(:hover) h1 {
    color: #eee;
}

[tplus=dm] .moodle-dialogue-base .moodle-dialogue-wrap {
    color: #0c0c0c;
}

[tplus=dm] .fp-iconview .fp-thumbnail {
    border-color: transparent !important;
}

[tplus=dm] .fp-iconview .fp-thumbnail img {
    border-color: #6B6E70 !important;
}

[tplus=dm] .fp-iconview .fp-filename-field .fp-filename {
    background: #000000 !important;
    text-align: center !important;
    padding-left: 0 !important;
}

[tplus=dm] .breadcrumb {
    background-color: #222 !important;
    padding: 0.3rem 0.7rem !important;
}

[tplus=dm] div#blockslider {
    background-color: #000 !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
    margin-bottom: 1rem;
}

[tplus=dm] div.modal-content {
    background-color: #121212 !important;
}

[tplus=dm] .page-item.active .page-link {
    background-color: var(--navbar_bottom) !important;
    border-color: var(--navbar_bottom) !important;
}

[tplus=dm] a.page-link:not(.active) {
    color: #0c0c0d;
}

[tplus=dm] .message-app.drawer {
    color: #0c0c0d;
}

[tplus=dm] section.card.tplus_block {
    border-color: transparent;
    color: #eee;
}

[tplus=dm] #tp_colorswitcher {
    display: flex !important;
}


[tplus=dm] .hsuforum-thread {
    background-color: #121212;
}

[tplus=dm] .box.progress_bar {
    background-color: rgba(255, 255, 255, .05);
}

[tplus=dm] .box.progress_bar .progress {
    padding: 1px;
}


[tplus=dm] ::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    /*background: #222;*/
    background: var(--dark_bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #707070cc;
    background: var(--navbar_bottom) linear-gradient(#fff6, #fff6);
    /*border: solid #222;*/
    border: solid var(--dark_bg);
    border-width: 3px;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #909090cc;
    background: var(--navbar_bottom) linear-gradient(#fff8, #fffa);
}

::-webkit-scrollbar-thumb:active {
    background: #b0b0b0cc;
    background: var(--navbar_bottom) linear-gradient(#fffc, #fffe);
}

::-webkit-scrollbar-button:single-button:decrement {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJElEQVQI12NgoAr4////f2Q+IzYJRkZGRrgkug6YAkZsEkQBAM6zD/wBxW/hAAAAAElFTkSuQmCC");
}

::-webkit-scrollbar-button:single-button:increment {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAKUlEQVQI12NgwAMY/////x+nJAMDAwM2BYyMjIyMMA6yAmRxBmwKKAMAnpcP/GLG/WkAAAAASUVORK5CYII=");
}

::-webkit-scrollbar-button {
    background: no-repeat scroll #0005 center;
    height: 14px;
}

[tplus=dm] .content-item-container .content-item-footer .timestamp {
    color: #aaa;
}

[tplus=dm] .content-item-container:hover {
    background-color: #222;
}

[tplus=dm] .content-item-container.unread {
    background-color: var(--dark_bg);
}

[tplus=dm] .content-item-container.unread:hover {
    background-color: #333;
}

[tplus=dm] .content-item-container.selected {
    background-color: var(--navbar_bg);
    border-color: var(--navbar_bg);
}

[tplus=dm] .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--navbar_bottom);
    background-color: var(--navbar_bottom);
}
