<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="no-cache"/>
    <title>Technion++ - מחשבון ממוצע אקדמי</title>
</head>
<body>
<div class="maor_norm_wrapper">
    <h1>מחשבון ממוצע ציונים אקדמי<span style="float: left">Technion</span></h1>
    <div id="stats" class="maor_grid" style="grid-template-columns: repeat(3, 1fr);">
        <h3>ממוצע ציונים מחושב: <span id="avg_grade"></span></h3>
        <h3>נקודות מחושבות: <span id="curr_points"></span> (מתוכן <span id="ex_points"></span> נקודות פטור)</h3>
        <h3>ממוצע הצלחות מחושב: <span id="curr_success"></span><span>%</span></h3>
        <h4>ממוצע ציונים במערכות הטכניון: <span id="system_avg"></span></h4>
        <h4>נקודות במערכות הטכניון: <span id="system_points"></span></h4>
        <h4>ממוצע הצלחות במערכות הטכניון: <span id="success_rate"></span>%</h4>
    </div>

    <div class="maor_grid">
        <div>
            <h2>ציונים שנכנסו לממוצע</h2>
            <div class="maor_table" id="inlist">
                <div class="maor_table_header">
                    <div>#</div>
                    <div>קורס</div>
                    <div>נקודות</div>
                    <div>ציון</div>
                    <div>סמסטר</div>
                    <div class="op">התעלם</div>
                    <div class="op">סמן</div>
                </div>

                <template>
                    <div class="maor_table_row">
                        <div></div>
                        <div class="course_name"></div>
                        <div>
                            <input disabled="disabled" type="number" value="" class="points"/>
                        </div>
                        <div>
                            <input disabled="disabled" type="number" min="0" max="100" value="" class="grade"/>
                            <button>ערוך</button>
                            <span class="binary_text">עובר בינארי</span>
                        </div>
                        <div></div>
                        <div class="center">
                            <button>התעלם</button>
                            <button class="perma_ignore">תמיד</button>
                            <button class="op_remove">מחק</button>
                        </div>
                        <div class="center">
                            <input type="checkbox"/>
                        </div>
                    </div>
                </template>

            </div>

            <h4 style="font-weight: 600;">קורסים מסומנים</h4>
            <div class="maor_table" id="selected_tbl">
                <div class="maor_table_row">
                    <div style="width: 20ch">סה"כ סומנו</div>
                    <div>0</div>
                </div>
                <div class="maor_table_row">
                    <div>ממוצע</div>
                    <div>0</div>
                </div>
                <div class="maor_table_row">
                    <div>סה"כ נקודות</div>
                    <div>0</div>
                </div>
                <div class="maor_table_row">
                    <div>נקודות עם ציון עובר</div>
                    <div>0</div>
                </div>
            </div>

            <h3>הוסף ציון</h3>
            <form id="c_form">
                <input type="text" name="name" placeholder="שם הקורס">
                <input type="number" name="points" placeholder="נקודות" maxlength="4" step="0.5">
                <input type="number" name="grade" placeholder="ציון" maxlength="3">
                <input type="submit" value="הוסף!">
            </form>

            <br/>
            <h3>ייצוא ציונים שנכנסו לממוצע</h3>
            <input type="button" value="ייצא ל-EXCEL / CSV" id="to_csv"/>

        </div>
        <div>
            <h2>ציונים שלא נכנסו לממוצע</h2>
            <div class="maor_table" id="outlist">
                <div class="maor_table_header">
                    <div>#</div>
                    <div>קורס</div>
                    <div>נקודות</div>
                    <div>ציון</div>
                    <div>סמסטר</div>
                    <div class="op">שחזר</div>
                </div>

                <template>
                    <div class="maor_table_row">
                        <div></div>
                        <div class="course_name"></div>
                        <div>
                            <input disabled="disabled" type="number" value="" class="points"/>
                        </div>
                        <div>
                            <input disabled="disabled" type="number" min="0" max="100" value="" class="grade"/>
                            <span class="binary_text">עובר בינארי</span>
                        </div>
                        <div></div>
                        <div class="center">
                            <button>שחזר</button>
                        </div>
                    </div>
                </template>

            </div>

            <div id="incomplete_wrapper">
                <h3>קורסים עם ציון "לא השלים"</h3>
                <div class="maor_table" id="incomplete">
                    <div class="maor_table_header">
                        <div>#</div>
                        <div>קורס</div>
                        <div>נקודות</div>
                        <div>סמסטר</div>
                    </div>

                    <template>
                        <div class="maor_table_row">
                            <div></div>
                            <div class="course_name"></div>
                            <div>
                                <input disabled="disabled" type="number" value="" class="points"/>
                            </div>
                            <div></div>
                        </div>
                    </template>

                </div>
            </div>

            <div id="ptors_wrapper">
                <h3>זיכויים / פטורים</h3>
                <div class="maor_table" id="ptors">
                    <div class="maor_table_header">
                        <div>#</div>
                        <div>קורס</div>
                        <div>נקודות</div>
                    </div>

                    <template>
                        <div class="maor_table_row">
                            <div></div>
                            <div class="course_name"></div>
                            <div>
                                <input disabled="disabled" type="number" value="" class="points"/>
                            </div>
                        </div>
                    </template>

                </div>
            </div>

        </div>
    </div>

    <h2 style="margin: 40px 0 10px">הסבר על המחשבון</h2>
    <p>
        <b>ממוצע ציונים מחושב / נקודות מחושבות / ממוצע הצלחות מחושב</b>
        - שדות אלו יחושבו בהתאם לשינויים שיבוצעו על ידי המשתמש (עריכה/התעלמות/הוספת קורס).<br/>
        החישוב מדייק במעט יותר מהחישוב של מערכות הטכניון, למעט במקרים של קורסים מכילים ומוכלים שאותם המחשבון לא יודע
        לזהות. ניתן לטפל במקרים כאלו בעזרת האפשרות להתעלמות קבועה.
    </p>
    <p>
        <b>שיפור</b>
        - שינוי הציון יציג למשתמש את השינויים בממוצע האקדמי, בנקודות שייצברו ובממוצע ההצלחות שיתקבלו כתוצאה מחזרה על
        הקורס וקבלת הציון החדש.<br/>
        הציון הישן יועבר לרשימה "ציונים שלא נכנסו לממוצע" כדי לייצג חישוב מדוייק של ממוצע ההצלחות שיתקבל. השינוי הנ"ל
        הינו חד פעמי ולא יישמר לכניסה הבאה למחשבון.
    </p>
    <p>
        <b>התעלם</b>
        - הממוצע האקדמי והנקודות הנצברות יחושבו מחדש ללא הציון הנבחר. התעלמות זו היא חד פעמית ובכניסה הבאה למחשבון הציון
        יחזור למקומו המקורי.
    </p>
    <p>
        <b>התעלם תמיד</b>
        - הממוצע האקדמי והנקודות הנצברות יחושבו מחדש ללא הציון הנבחר, ובחירה זו תישמר גם לכניסות הבאות למחשבון.
    </p>
    <p>
        <b>שחזר</b>
        - ביטול ההתעלמות מהציון והכללה שלו בממוצע המחושב ובנקודות המחושבות (גם אם יש ציון נוסף של אותו קורס שבו יש
        התחשבות!). שחזור זה הינו חד פעמי ובכניסה הבאה למחשבון הציון יחזור למקומו המקורי.<br/>
        <small>שימו לב: שחזור של ציון שסומן בהתעלמות קבועה, יבטל את ההתעלמות מהציון בכניסות הבאות.</small>
    </p>
    <p>
        <b>הוסף ציון</b>
        - הוספת ציון חדש לרשימת הציונים שנכנסו לממוצע וחישוב ממוצע אקדמי, נקודות נצברות וממוצע הצלחות בהתאם.
    </p>
    <p>
        <b>קורסים מסומנים</b>
        - ביצוע חישובים רק עבור קבוצת הקורסים שסומנו ב-V. המחשבון מסמן אוטומטית קורסים מהסמסטר הפעיל האחרון ביותר
        וקורסים שהמשתמש הוסיף ידנית.
    </p>

    <footer id="maor_footer">
        <div>מחשבון ממוצע ציונים אקדמי - Technion</div>
        <div style="font-size: 0.8em">לא מהווה מסמך רשמי • לא מוגש מטעם הטכניון</div>
    </footer>
</div>
</body>
</html>