<template id="head-stylesheets">
    <link rel="stylesheet" type="text/css">
</template>

<template id="header-koteret">
    <div id="koteret">
        <sup>++</sup>&nbsp;&nbsp;Technion
        <div class="options" id="goToSettings" title="הגדרות"><img src="../../icons/preferences.svg" alt="הגדרות"/></div>
        <div class="options" id="goToAbout" title="אודות"><img src="../../icons/info.svg" alt="אודות"/></div>
    </div>
</template>

<template id="header-title">
    <h2>
        <span id="returnHome" class="returner"></span>
        <span></span>
    </h2>
</template>