<template id="assignment">
    <div class="list_item">
        <div>
            <b class="assignment_header"></b>
            <div class="course_name">קורס: </div>
            <div class="assignment_descripion"></div>
            <div class="end_time">תאריך סיום: </div>
        </div>
        <div class="actions">
            <img src="../icons/open-in-new-16.svg" title="עבור להגשה"/>
            <img src="../icons/check-16.svg" title="סמן כמטלה שהושלמה" class="finish"/>
            <img src="../icons/unfinish.svg" title="סמן כמטלה לביצוע" class="restore"/>
        </div>
    </div>
</template>